<!DOCTYPE html>

<html> 
    <form method='post' action='/checkout'>
        <label for='item'>Store Item </label>
        <input type='text' name='item'>
        <input type='submit' name='submit' id='submit'>      
    </form> 
</html> 
